ul.company-list 
    li.company-item(ng-repeat="company in companies", ng-click="openInViewer($event)", data-id="{{company.companyCode}}")
        span.company-name {{company.companyName | decode}}
        span.company-code 
            a(href="https://www.asx.com.au{{company.link}}") {{company.companyCode}}
        span.industry-group  {{company.industryGroup | decode}}
