html
    head
        link(rel="stylesheet", href="assets/css/main.css")
    body 
        include ./includes/navbar.pug
        main
            div.company-list-container
                include ./includes/toolbar.pug
                include ./includes/company_list.pug
            div.company-viewer-container
                include ./includes/company_viewer.pug


            